.currency__table--tittle {
    text-align: center;
}

.product__cards-container {
    display: flex;
    flex-wrap: wrap;
    width: 820px;
    margin: 0 auto;
}

.plans--container__card:hover {
    box-shadow: 0px 4px 8px rgba(26, 25, 25, 0.5);
    transform: scale(1.05);
    transition: all 0.5s ease;
}